@model ParserWebApp.WEB.ViewModels.ProductViewModel
@{
    string ActiveImage = Model.ImageUrl;
    int PicturesCount = Math.Min(Model.Pictures.Count, 5);
    int ActiveStart = 0;
    var ActivePictures = Model.Pictures.GetRange(0, PicturesCount);
    string rightMargin;
    switch (PicturesCount)
    {
        case 5:
            rightMargin = "11";
            break;
        case 4:
            rightMargin = "16";
            break;
        case 3:
            rightMargin = "24";
            break;
        default:
            rightMargin = "40";
            break;
    }
    string ThumbsStyle = "margin-right: " + rightMargin + "%;";
}
<div class="owl-carousel owl-theme">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    
                    <div class="details col-md-6">
                        <h1>
                            @Model.Name
                        </h1>
                        <h4 class="font-bold">Price: <span style="color: blue">@Model.Price</span></h4>
                        <div>
                            <p class="product-description">@Model.Description</p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1 class="font-bold text-center">Price History</h1>
                </div>
                <div class="row">
                    @foreach (var price in Model.Prices)
                    {
                        <div class="col-sm-2 text-center">
                            <h4>@price.DateStr</h4>
                            <h3 class="font-bold" style="color: blue;">@price.PriceValue</h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
