@model ParserWebApp.WEB.ViewModels.ProductListViewModel
@{ 
    int iMin = 2;
    int iMax = Model.PageCount - 1;
    int Diap = 3;
}
<div class="row">
        <div  class="row list-group">
            @foreach (ParserWebApp.WEB.ViewModels.ProductViewModel product in Model.Products)
            {
                <div class="item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img class="group list-group-image img-responsive" src="@product.ImageUrl" 
                             style="max-height: 200px; max-width: 425px" alt="" />
                        <div class="caption">
                            <h1 class="group inner list-group-item-heading">
                                <a href="@Url.Action("Details", "Products")/@product.Id">
                                    @product.Name
                                    </a></h1>
                            <p class="group inner list-group-item-text">
                                @product.ShortDescription
                            </p>
                            <div class="row">
                                <h3 class="col-xs-12 col-md-6 rounded border" style="color: blue">
                                    @product.Price
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <ul class="pagination" data-bind="html: pagination">
            <li class="page-item @(Model.PageNum == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", "Products")/?page=@Model.PageNum-1"><</a>
            </li>
            <li class="page-item @(Model.PageNum == 1 ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", "Products")/?page=1">1</a>
            </li>
            diap=3
            iMIN=2
            iMax=PageCount-1
            @{string htmlLast = "";}
            @if (Model.PageNum - Diap > iMin)
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
                iMin = Model.PageNum - 3;
            }
            @if (Model.PageNum + Diap < iMax)
            {
                iMax = Model.PageNum + Diap;
                htmlLast = "<li class=\"page-item disabled\"><a class=\"page-link\">...</a></li>";
            }
            @for (int i = iMin; i <= iMax; i++)
            {
                <li class="page-item @(Model.PageNum == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", "Products")/?page=@i">@i</a>
                </li>
            }
            @htmlLast
            @if (Model.PageCount != 1) {
                <li class="page-item @(Model.PageNum == Model.PageCount ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", "Products")/?page=@Model.PageCount">
                        @Model.PageCount</a></li> 
            }
            <li class="page-item @(Model.PageNum == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", "Products")/?page=@Model.PageCount">></a></li>';
        </ul>
    </div>
</div>